.maincontainer {
  .head {
    position: fixed;
    height: 5rem;
    width: 100%;
    background: transparent;
    header {
      position: fixed;
      background: rgb(6, 19, 55);
      h2 {
        font-size: 3rem;
        color: #fff;
        position: fixed;
        left: 2rem;
        top: 0.5rem;
        span {
          color: #00ffae;
          animation: animate2 10s ease-in-out infinite;
        }
      }
      nav {
        right: 0;
        top: 1rem;
        height: 5rem;
        display: inline;
        background: transparent;
        position: fixed;
        li {
          list-style: none;
          display: inline;
          padding-right: 4rem;
          right: 10rem;
          a {
            font-size: 2rem;
            font-weight: 500;
            color: #eee;
          }
          :hover {
            border-bottom: 2px solid #00ffae;
            color: #d0ff00;
          }
        }
      }
      .btn {
        height: 3.7rem;
        width: 11rem;
        border-radius: 0.5rem;
        border: 1px solid #00ffae;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: animate2 5s ease-in-out infinite;
        transition-delay: -2s;
        button {
          position: relative;
          right: 0.5rem;
          bottom: 0.5rem;
          padding: 0.5rem 2rem;
          border: none;
          border: 1px solid #00ffae;
          font-size: 2rem;
          color: #fff;
          font-weight: 450;
          margin: 0 3rem;
          cursor: pointer;
          border-radius: 0.5rem;
          background: transparent;
          animation: animate2 5s ease infinite;
        }
        button:hover {
          background: rgba(255, 255, 255, 0.2);
          right: 0;
          bottom: 0;
          transition-duration: 0.5s;
          border: none;
        }
      }
    }
  }
  .home {
    height: 100vh;
    width: 100%;
    background: rgb(6, 19, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      position: fixed;
      left: 0;
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .social {
        position: relative;
        top: 9rem;
        display: inline;
        align-items: center;
        justify-content: center;
        .social::after{
          content: '';
          
        }
        li {
          list-style: none;
          padding-top: 3rem;
          a{
            i {
              font-size: 2.5rem;
              color: rgba(255, 255, 255, 0.5);
            }
            i:hover{
              color: #00ffae;
              transform: translateY(-.5rem);
              transition-duration: .5s;
            }
          }
        }
      }
      .line{
        position: absolute;
        bottom: 0rem;
          height: 10rem;
          width: 1px;
          background: rgba(255, 255, 255, 0.5);
      }
    }
    .details {
      width: 80%;
      height: 100%;
      h4 {
        position: absolute;
        top: 23rem;
        left: 30rem;
        font-size: 2rem;
        font-weight: 400;
        color: #00ffae;
      }
      h2 {
        position: absolute;
        top: 25rem;
        left: 30rem;
        font-size: 7rem;
        font-weight: 600;
        color: #fff;
      }
      h3 {
        position: absolute;
        top: 33rem;
        left: 30rem;
        font-size: 7rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.5);
      }
      .para{
        position: absolute;
        top: 43rem;
        left: 30rem;
        height: 30rem;
        width: 50rem;
        p {
          font-size: 1.7rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.4);
          span {
            color: #00ffae;
          }
          span:hover::before {
            content: "";
            position: absolute;
            top: 6.7rem;
            left: 22rem;
            height: 1px;
            width: 0rem;
            background: #00ffae;
            animation: animate 2s ease;
          }
        }
      }
    }
    .mail {
      position: fixed;
      right: 0;
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        position: absolute;
        bottom: 24rem;
        transform: rotate(90deg);
        font-size: 1.6rem;
        color: rgba(255, 255, 255, 0.4);
      }
      :hover{
        color: #00ffae;
      }
      .line{
        position: absolute;
        bottom: 0rem;
          height: 10rem;
          width: 1px;
          background: rgba(255, 255, 255, 0.5);
      }
    }
  }
  .about {
    height: 100vh;
    width: 100%;
    background: rgb(6, 19, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    h4{
      position: absolute;
      left: 35rem;
      transform: translateY(-15rem);
      font-size: 3rem;
      color: #fff;
    }
    h4::after{
      content: '';
      position: absolute;
      top: 2.2rem;
      transform: translateX(2rem);
      height: 1px;
      width: 30rem;
      background: rgba(255, 255, 255, 0.3);
    }
    .detail{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      .abt{
        height: 20rem;
        width: 50rem;
        background: #fff;
      }
      .pic{
        height: 30rem;
        width: 30rem;
        background: #f758f7;
      }
    }
  }
}
@keyframes animate {
  0% {
    width: 0rem;
  }
  100% {
    width: 10rem;
  }
}
@keyframes animate2 {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
