.maincontainer {
  .head {
    position: fixed;
    height: 6rem;
    width: 100%;
    //background: transparent;
    z-index: 100;
    display: flex;
    box-pack: justify;
    justify-content: space-between;
    box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    background-color: rgba(10, 25, 47, 0.7);
    backdrop-filter: blur(10px);
    transition: 2s;
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
    .navbar {
      display: flex;
      box-pack: justify;
      justify-content: right;
      box-align: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 12;
      .logo {
        display: flex;
        box-pack: center;
        justify-content: center;
        box-align: center;
        align-items: center;
        h2 {
          font-size: 3rem;
          color: #fff;
          position: fixed;
          letter-spacing: 2px;
          left: 2rem;
          top: 0.5rem;
          span {
            color: #64ffda;
            animation: animate2 2s ease-in-out infinite;
          }
        }
      }
      .point {
        display: flex;
        align-items: center;
        .navMenu {
          display: flex;
          box-pack: justify;
          justify-content: space-between;
          box-align: center;
          align-items: center;
          padding: 0px;
          margin: 0px;
          list-style: none;
          li {
            list-style: none;
            display: inline;
            padding-right: 4rem;
            right: 0rem;
            a {
              font-size: 2rem;
              letter-spacing: 2px;
              font-weight: 500;
              color: #eee;
              span{
                position: relative;

              }
              span::after,span::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                background: #64ffda;
                transform: scaleX(0);
                transition: transform .5s;
              }
              span::after{
                bottom: 0;
                transform-origin: right;
              }
              span::before{
                top: 0;
                transform-origin: left;
              }
              span:hover::before,
              span:hover::after{
                transform: scaleX(1);
              }
            }
            a:hover {
              //border-bottom: 2px solid #64ffda;
              color: #d0ff00;
            }
            
            .resume {
              display: flex;
              align-items: center;
              justify-content: center;
              right: 0.1rem;
              height: 4rem;
              width: 11rem;
              border: none;
              border: 1px solid #64ffda;
              cursor: pointer;
              border-radius: 0.5rem;
              background: transparent;
              animation: animate2 2s ease-in-out infinite;
              a {
                font-size: 2rem;
                color: #fff;
                font-weight: 450;
              }
            }
            .resume:hover {
              background: rgba(255, 255, 255, 0.2);
              transition-duration: 0.5s;
            }
          }
          .navList:last-child {
            padding-right: 0;
          }
        }
        .hamburger {
          display: none;
          right: 0;
          float: right;
          cursor: pointer;
          .bar {
            display: block;
            width: 2.5rem;
            height: 3px;
            background: #fff;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;
          }
          .bar:nth-child(2) {
            width: 3.5rem;
            box-shadow: 0 0 1rem #00ffa6, 0 0 2rem #00ffa6, 0 0 3rem #00ffa6,
              0 0 4rem #00ffa6, 0 0 5rem #00ffa6;
            animation: animate2 2s ease-in-out infinite;
          }
        }
      }
    }
  }
  .home {
    min-height: 100vh;
    width: 100%;
    background: rgb(6, 19, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      position: fixed;
      left: 0;
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .social {
        position: relative;
        top: 14rem;
        display: inline;
        align-items: center;
        justify-content: center;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          list-style: none;
          box-align: center;
          margin: 0;
          bottom: 0rem;
          padding: 0;
          li {
            display: list-item;
            padding: 1.5rem;
            a {
              i {
                font-size: 2.5rem;
                color: rgba(255, 255, 255, 0.5);
              }
              i:hover {
                color: #64ffda;
                font-size: 2.5rem;
                transform: translateY(-0.5rem) translateZ(5rem);
                transition-duration: 0.5s;
                box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.19);
              }
            }
          }
          li:last-child {
            padding-bottom: 3rem;
          }
        }
        ul::after {
          content: "";
          display: block;
          width: 1px;
          height: 12rem;
          background: rgba(255, 255, 255, 0.5);
          margin: 0 auto;
        }
      }
      // .line {
      //   position: absolute;
      //   bottom: 0rem;
      //   height: 11rem;
      //   width: 1px;
      //   background: rgba(255, 255, 255, 0.5);
      // }
    }
    .details {
      width: 80%;
      height: 100%;
      h4 {
        position: absolute;
        top: 23rem;
        left: 23%;
        font-size: 2rem;
        font-weight: 400;
        color: #64ffda;
      }
      h2 {
        position: absolute;
        top: 26rem;
        left: 23%;
        font-size: 7rem;
        font-weight: 600;
        color: #fff;
      }
      h3 {
        position: absolute;
        top: 34rem;
        left: 23%;
        font-size: 7rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.5);
      }
      .para {
        position: absolute;
        top: 44rem;
        left: 23%;
        height: 30rem;
        width: 50rem;
        p {
          font-size: 1.7rem;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.4);
          a {
            position: absolute;
            color: #64ffda;
            margin-left: 4px;
            width: 11rem;
            height: 2.5rem;
            span::after {
              content: '';
              position: absolute;
                  width: 90%;
                  height: 1px;
                  left:0;
                  background: #64ffda;
                  transform: scaleX(0);
                  transition: transform .5s;
            }
            span::after{
              bottom: 0;
              transform-origin: left;
            }
            span:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
    .mail {
      position: fixed;
      right: 0;
      top: 12rem;
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      box-align: center;
      justify-content: center;
      flex-direction: column;
      a {
        position: relative;
        text-decoration-skip-ink: auto;
        display: inline-block;
        margin: 20px auto;
        padding: 10px;
        writing-mode: vertical-rl;
        font-size: 1.6rem;
        letter-spacing: 3px;
        color: rgba(255, 255, 255, 0.4);
      }
      :hover {
        color: #64ffda;
      }
      // .line {
      //   position: absolute;
      //   bottom: 0rem;
      //   height: 11rem;
      //   width: 1px;
      //   background: rgba(255, 255, 255, 0.5);
      // }
    }
    .mail::after {
      content: "";
      display: block;
      width: 1px;
      height: 12rem;
      background: rgba(255, 255, 255, 0.5);
      margin: 0 auto;
    }
  }
  .about {
    min-height: 100vh;
    width: 100%;
    background: rgb(6, 19, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      position: absolute;
      left: 22%;
      transform: translateY(-15rem);
      font-size: 3rem;
      letter-spacing: 2px;
      color: #fff;
    }
    h4::after {
      content: "";
      position: absolute;
      top: 2.2rem;
      transform: translateX(2rem);
      height: 1px;
      width: 32rem;
      background: rgba(255, 255, 255, 0.3);
    }
    .detail {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      .abt {
        height: 20rem;
        width: 50rem;
        margin-right: 3.5rem;
        p {
          font-size: 1.7rem;
          font-weight: 400;
          padding-bottom: 2rem;
          color: rgba(255, 255, 255, 0.4);
          span {
            color: #64ffda;
          }
        }
        table {
          margin-left: 5rem;
          tr {
            td {
              font-size: 1.4rem;
              font-weight: 400;
              padding: 0.5rem;
              padding-right: 5rem;
              color: rgba(255, 255, 255, 0.4);
              i {
                font-size: 1rem;
                padding-right: 0.5rem;
                color: #64ffda;
              }
            }
          }
        }
      }
      .pic {
        margin-top: 11rem;
        position: relative;
        height: 30rem;
        width: 30rem;
        border-radius: 0.5rem;
        cursor: pointer;
        filter: grayscale(100%) brightness(65%) sepia(100%) hue-rotate(-235deg)
          saturate(700%) contrast(1);
        z-index: 1;
        transition: 0.5s;
        img {
          border-radius: 0.5rem;
        }
      }
      .pic::after {
        content: "";
        position: absolute;
        display: block;
        left: 2rem;
        border-radius: 0.5rem;
        top: 2rem;
        height: 100%;
        width: 100%;
        border: 2px solid #64ffda;
        z-index: -1;
        transition: 0.5s;
      }
      .pic:hover {
        filter: sepia(0);
      }
      .pic:hover::after {
        left: 1rem;
        top: 1rem;
      }
    }
  }
  .skill {
    min-height: 100vh;
    width: 100%;
    background: rgb(6, 19, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      position: absolute;
      left: 22%;
      letter-spacing: 2px;
      transform: translateY(-32rem);
      font-size: 3rem;
      color: #fff;
    }
    h4::after {
      content: "";
      position: absolute;
      top: 2.2rem;
      transform: translateX(2rem);
      height: 1px;
      width: 75rem;
      background: rgba(255, 255, 255, 0.3);
    }
    .cardcontainer {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-evenly;
      margin-top: 10rem;
      .card {
        height: 28rem;
        width: 23rem;
        margin: 3rem;
        border-radius: 0rem;
        background: transparent;
        transform-style: preserve-3d;
        cursor: pointer;
        .name {
          position: absolute;
          top: 2rem;
          left: 0;
          font-size: 3rem;
          text-align: center;
          color: #fff;
          width: 100%;
          transform: translate3d(0, 0, 50px);
          transition: 0.5s;
          opacity: 1;
          z-index: 10;
          transform-style: preserve-3d;
        }
        .skl {
          position: absolute;
          top: 50%;
          left: 50%;
          max-width: 20rem;
          transition: 0.5s;
          z-index: 11;
          transform-style: preserve-3d;
          transform: translate3d(-50%, -50%, 60px);
        }
      }
    }
  }
  .contact {
    min-height: 100vh;
    width: 100%;
    background: rgb(6, 19, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      position: absolute;
      left: 22%;
      letter-spacing: 2px;
      transform: translateY(-25rem);
      font-size: 3rem;
      color: #fff;
    }
    h4::after {
      content: "";
      position: absolute;
      top: 2.2rem;
      transform: translateX(2rem);
      height: 1px;
      width: 75rem;
      background: rgba(255, 255, 255, 0.3);
    }
    .word {
      width: 50%;
      top: 0;
      p {
        padding-left: 20rem;
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.5);
        span {
          font-size: 5rem;
          color: #fff;
        }
      }
    }
    .getintch {
      width: 50%;
      height: 100%;
      .wrapper {
        height: 100%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
          padding: 2.5rem;
          background: transparent;
          box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.5);
          max-width: 80rem;
          margin: auto;
          border-radius: 1.5rem;
          display: flex;
          backdrop-filter: blur(1px);
          form {
            width: 100%;
            padding-top: 4rem;
            padding-left: 0;
            padding-right: 3rem;
            display: grid;
            .form-group {
              display: flex;
              input {
                width: 100%;
                background-color: transparent;
                caret-color: #00dafc;
                color: #00dafc;
                letter-spacing: 2px;
                font-weight: 500;
              }
              .form-control {
                border: none;
                border-bottom: 1px solid #64ffda;
                display: block;
                width: 100%;
                height: 30px;
                padding-right: 0;
                margin-bottom: 25px;
              }
            }
            .form-wrapper {
              position: relative;
              input {
                background-color: transparent;
                caret-color: #00dafc;
                color: #00dafc;
                letter-spacing: 2px;
                font-weight: 500;
              }
              textarea {
                background-color: transparent;
                caret-color: #00dafc;
                color: #00dafc;
                letter-spacing: 2px;
                font-weight: 500;
                outline: none;
                border: none;
                max-width: 50rem;
              }
              .form-control {
                border: none;
                border-bottom: 1px solid #64ffda;
                display: block;
                width: 100%;
                height: 30px;
                padding-right: 0;
                margin-bottom: 25px;
              }
            }
            .buttdiv {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 2rem;

              button {
                font-family: inherit;
                font-size: 1.5rem;
                color: white;
                background: linear-gradient(45deg, #dff304, #00ffbf);
                box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.9),
                  inset -4px -4px 6px rgba(0, 0, 0, 0.7);
                padding: 0.5rem 1.5rem;
                padding-left: 0.9em;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                border-radius: 1.6rem 0;
                overflow: hidden;
                transition: all 0.2s;
              }

              button span {
                display: block;
                margin-left: 0.3em;
                transition: all 0.3s ease-in-out;
              }

              button svg {
                display: block;
                transform-origin: center center;
                transition: transform 0.3s ease-in-out;
              }

              button:hover .svg-wrapper {
                animation: fly-1 0.6s ease-in-out infinite alternate;
              }

              button:hover svg {
                transform: translateX(1.8rem) rotate(45deg) scale(1.1);
              }

              button:hover span {
                transform: translateX(10rem);
              }

              button:active {
                transform: scale(1);
              }

              @keyframes fly-1 {
                from {
                  transform: translateY(0.3rem);
                }

                to {
                  transform: translateY(-0.3rem);
                }
              }
            }
          }
        }
      }
      .form-group input:first-child {
        margin-right: 2.5rem;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .social2 {
      position: relative;
      display: none;
      align-items: center;
      justify-content: center;
      padding-bottom: 2rem;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        box-align: center;
        margin: 0;
        padding: 0;
        li {
          padding: 1.5rem;
          a {
            i {
              font-size: 2.5rem;
              color: rgba(255, 255, 255, 0.5);
            }
            i:hover {
              color: #64ffda;
              transform: translateY(-0.5rem) translateZ(5rem);
              transition-duration: 0.5s;
              box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.19);
            }
          }
        }
      }
    }
  }
  footer {
    background: rgb(6, 19, 55);
    text-align: center;
    padding-bottom: 1rem;
    span {
      font-size: 1.4rem;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 400;
      i {
        font-size: 1.2rem;
      }
      a {
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
      }
    }
  }
}
@media only screen and (max-width: 1080px) {
  .maincontainer {
    .home {
      .details {
        h4 {
          left: 15%;
        }
        h2 {
          left: 15%;
          font-size: 6rem;
        }
        h3 {
          left: 15%;
          font-size: 6rem;
        }
        .para {
          left: 15%;
        }
      }
    }
    .about {
      h4 {
        left: 15%;
        font-size: 2.8rem;
        transform: translateY(-20rem);
      }
      h4::after {
        width: 25rem;
      }
      .detail {
        left: 15%;
        .abt {
          height: 30rem;
          width: 40rem;
        }
        .pic {
          height: 25rem;
          width: 25rem;
          margin-top: 0rem;
        }
      }
    }
    .skill {
      h4 {
        left: 15%;
        font-size: 2.8rem;
        transform: translateY(-30rem);
      }
      h4::after {
        width: 60rem;
      }
      .cardcontainer {
        margin-top: 15rem;
        .card {
          height: 27rem;
          width: 22rem;
          .name {
            font-size: 2.8rem;
          }
        }
      }
    }
    .contact {
      display: block;
      h4 {
        left: 15%;
        transform: translateY(8rem);
        font-size: 2.8rem;
      }
      h4::after {
        width: 55rem;
      }
      .word {
        width: 100%;
        p {
          padding: 15rem 15rem 5rem 25rem;
          font-size: 2.2rem;
          span {
            font-size: 5rem;
          }
        }
      }
      .getintch {
        width: 100%;
        .wrapper {
          padding-bottom: 5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .maincontainer {
    .home {
      .details {
        h4 {
          left: 13%;
          font-size: 1.9rem;
        }
        h2 {
          left: 13%;
          font-size: 5rem;
        }
        h3 {
          left: 13%;
          font-size: 5rem;
        }
        .para {
          left: 13%;
          height: 15rem;
          p {
            font-size: 1.6rem;
          }
        }
      }
    }
    .about {
      padding-top: 10rem;
      min-height: 115vh;
      h4 {
        left: 13%;
        font-size: 2.7rem;
        transform: translateY(-33rem);
      }
      h4::after {
        width: 40rem;
      }
      .detail {
        left: 13%;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 5rem;
        .abt {
          height: 30rem;
          width: 55rem;
          p {
            font-size: 1.6rem;
          }
        }
        .pic {
          height: 25rem;
          width: 25rem;
          margin: 4rem;
        }
      }
    }
    .skill {
      h4 {
        left: 13%;
        font-size: 2.7rem;
        transform: translateY(-45rem);
      }
      h4::after {
        width: 50rem;
      }
      .cardcontainer {
        margin-top: 15rem;
        grid-template-columns: auto auto;
        .card {
          height: 26rem;
          width: 21rem;
          .name {
            font-size: 2.6rem;
          }
        }
      }
    }
    .contact {
      display: block;
      h4 {
        left: 13%;
        transform: translateY(8rem);
        font-size: 2.7rem;
      }
      h4::after {
        width: 45rem;
      }
      .word {
        width: 100%;
        p {
          padding: 15rem 10rem 5rem 15rem;
          font-size: 1.8rem;
          span {
            font-size: 4.5rem;
          }
        }
      }
      .getintch {
        width: 100%;
        .wrapper {
          padding-bottom: 5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .maincontainer {
    .head {
      .navbar {
        .point {
          .hamburger {
            display: block;
            float: right;
            .bar {
              width: 2rem;
            }
            .bar:nth-child(2) {
              width: 3rem;
            }
          }
          .hamburger.active .bar:nth-child(2) {
            width: 0;
          }
          .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
          .navMenu {
            position: fixed;
            background: rgb(6, 19, 55);
            left: -100%;
            top: 6rem;
            gap: 0;
            flex-direction: column;
            width: 100%;
            text-align: center;
            transition: 0.5s;
            li {
              padding: 3rem 0;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid #00ffa690;
              animation: animate2 3s ease-in-out infinite;
              a:hover {
                border: none;
                color: #fff;
              }
            }
            li:nth-child(odd){
              background: rgba(6, 19, 55, 0.5);
            }
          }
          .navMenu.active {
            left: 0;
          }
        }
      }
    }
    .home {
      .icon {
        width: 0;
        display: none;
      }
      .details {
        width: 100%;
        h4 {
          left: 10%;
          top: 23rem;
          right: 10%;
          font-size: 1.7rem;
        }
        h2 {
          left: 10%;
          right: 10%;
          top: 25rem;
          font-size: 4.5rem;
        }
        h3 {
          top: 31rem;
          left: 10%;
          right: 10%;
          font-size: 4.5rem;
        }
        .para {
          left: 10%;
          right: 10%;
          top: 38rem;
          height: 15rem;
          p {
            font-size: 1.5rem;
            a{
              width:10rem;
            }
          }
        }
      }
      .mail {
        display: none;
        width: 0;
      }
    }
    .about {
      padding-top: 10rem;
      min-height: 115vh;
      h4 {
        left: 10%;
        right: 10%;
        font-size: 2.5rem;
        transform: translateY(-33rem);
      }
      h4::after {
        width: 35rem;
      }
      .detail {
        left: 10%;
        right: 10%;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 5rem;
        .abt {
          height: 30rem;
          width: 50rem;
          p {
            font-size: 1.5rem;
          }
        }
        .pic {
          height: 25rem;
          width: 25rem;
          margin: 4rem;
        }
      }
    }
    .skill {
      h4 {
        left: 10%;
        right: 10%;
        font-size: 2.5rem;
        transform: translateY(-45rem);
      }
      h4::after {
        width: 45rem;
      }
      .cardcontainer {
        margin-top: 15rem;
        grid-template-columns: auto auto;
        .card {
          height: 26rem;
          width: 21rem;
          .name {
            font-size: 2.5rem;
          }
        }
      }
    }
    .contact {
      display: block;
      h4 {
        left: 10%;
        right: 10%;
        transform: translateY(8rem);
        font-size: 2.5rem;
      }
      h4::after {
        width: 40rem;
      }
      .word {
        width: 100%;
        p {
          padding: 15rem 5rem 5rem 10rem;
          font-size: 1.7rem;
          span {
            font-size: 4rem;
          }
        }
      }
      .getintch {
        width: 100%;
        .wrapper {
          padding-bottom: 5rem;
        }
      }
      .social2 {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .maincontainer {
    .head {
      .navbar {
        .logo {
          h2 {
            top: 1rem;
            font-size: 2.5rem;
          }
        }
        .point {
          .hamburger {
            display: block;
            float: right;
            .bar {
              width: 2rem;
            }
            .bar:nth-child(2) {
              width: 3rem;
            }
          }
          .hamburger.active .bar:nth-child(2) {
            width: 0;
          }
          .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
          .navMenu {
            position: fixed;
            background: rgb(6, 19, 55);
            left: -100%;
            top: 6rem;
            gap: 0;
            flex-direction: column;
            width: 100%;
            text-align: center;
            transition: 0.5s;
            li {
              padding: 3rem 0;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid #00ffa690;
              animation: animate2 3s ease-in-out infinite;
              a:hover {
                border: none;
                color: #fff;
              }
            }
            li:nth-child(odd){
              background: rgba(6, 19, 55, 0.5);
            }
          }
          .navMenu.active {
            left: 0;
          }
        }
      }
    }
    .home {
      .icon {
        width: 0;
        display: none;
      }
      .details {
        width: 100%;
        h4 {
          left: 10%;
          top: 23rem;
          right: 10%;
          font-size: 1.6rem;
        }
        h2 {
          left: 10%;
          right: 10%;
          top: 25rem;
          font-size: 4rem;
        }
        h3 {
          top: 31rem;
          left: 10%;
          right: 10%;
          font-size: 3.5rem;
        }
        .para {
          left: 10%;
          right: 10%;
          top: 38rem;
          width: 30rem;
          p {
            font-size: 1.5rem;
          }
        }
      }
      .mail {
        display: none;
        width: 0;
      }
    }
    .about {
      padding-top: 10rem;
      min-height: 115vh;
      h4 {
        left: 10%;
        right: 10%;
        font-size: 2.4rem;
        transform: translateY(-33rem);
      }
      h4::after {
        width: 27rem;
      }
      .detail {
        left: 10%;
        right: 10%;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 5rem;
        .abt {
          left: 10%;
          height: 30rem;
          width: 40rem;
          p {
            font-size: 1.5rem;
          }
        }
        .pic {
          height: 22rem;
          width: 22rem;
          margin: 4rem;
        }
      }
    }
    .skill {
      h4 {
        left: 10%;
        right: 10%;
        font-size: 2.4rem;
        transform: translateY(-45rem);
      }
      h4::after {
        width: 35rem;
      }
      .cardcontainer {
        margin-top: 15rem;
        grid-template-columns: auto auto;
        .card {
          height: 24rem;
          width: 19rem;
          .name {
            font-size: 2.5rem;
          }
        }
      }
    }
    .contact {
      display: block;
      h4 {
        left: 10%;
        right: 10%;
        transform: translateY(8rem);
        font-size: 2.4rem;
      }
      h4::after {
        width: 30rem;
      }
      .word {
        width: 100%;
        p {
          padding: 15rem 5rem 5rem 7rem;
          font-size: 1.6rem;
          span {
            font-size: 3.5rem;
          }
        }
      }
      .getintch {
        width: 100%;
        .wrapper {
          padding-bottom: 5rem;
          .inner {
            min-width: 30rem;
          }
        }
      }
      .social2 {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .maincontainer {
    .head {
      .navbar {
        .logo {
          h2 {
            top: 1rem;
            font-size: 2.5rem;
          }
        }
        .point {
          .hamburger {
            display: block;
            float: right;
            .bar {
              width: 2rem;
            }
            .bar:nth-child(2) {
              width: 3rem;
            }
          }
          .hamburger.active .bar:nth-child(2) {
            width: 0;
          }
          .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
          .navMenu {
            position: fixed;
            background: rgb(6, 19, 55);
            left: -100%;
            top: 6rem;
            gap: 0;
            flex-direction: column;
            width: 100%;
            text-align: center;
            transition: 0.5s;
            li {
              padding: 3rem 0;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid #00ffa690;
              animation: animate2 3s ease-in-out infinite;
              a:hover {
                border: none;
                color: #fff;
              }
            }
            li:nth-child(odd){
              background: rgba(6, 19, 55, 0.5);
            }
          }
          .navMenu.active {
            left: 0;
          }
        }
      }
    }
    .home {
      .icon {
        width: 0;
        display: none;
      }
      .details {
        width: 100%;
        h4 {
          left: 10%;
          top: 23rem;
          right: 10%;
          font-size: 1.5rem;
        }
        h2 {
          left: 10%;
          right: 10%;
          top: 25rem;
          font-size: 3.5rem;
        }
        h3 {
          top: 30rem;
          left: 10%;
          right: 10%;
          font-size: 2.8rem;
        }
        .para {
          left: 10%;
          right: 10%;
          top: 35rem;
          width: 30rem;
          p {
            font-size: 1.5rem;
          }
        }
      }
      .mail {
        display: none;
        width: 0;
      }
    }
    .about {
      padding-top: 10rem;
      min-height: 120vh;
      h4 {
        left: 10%;
        right: 10%;
        font-size: 2.3rem;
        transform: translateY(-35rem);
      }
      h4::after {
        width: 20rem;
      }
      .detail {
        left: 10%;
        right: 10%;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 3rem;
        .abt {
          margin-left: 5rem;
          margin-bottom: 2rem;
          height: 30rem;
          width: 36rem;
          p {
            font-size: 1.5rem;
          }
        }
        .pic {
          height: 22rem;
          width: 22rem;
          margin: 4rem;
        }
      }
    }
    .skill {
      h4 {
        left: 10%;
        right: 10%;
        font-size: 2.3rem;
        transform: translateY(-85rem);
      }
      h4::after {
        width: 25rem;
      }
      .cardcontainer {
        margin-top: 15rem;
        grid-template-columns: auto;
        .card {
          height: 24rem;
          width: 19rem;
          .name {
            font-size: 2.5rem;
          }
        }
      }
    }
    .contact {
      display: block;
      h4 {
        left: 10%;
        right: 10%;
        transform: translateY(8rem);
        font-size: 2.3rem;
      }
      h4::after {
        width: 23rem;
      }
      .word {
        width: 100%;
        p {
          padding: 15rem 2rem 5rem 5rem;
          font-size: 1.5rem;
          span {
            font-size: 3.2rem;
          }
        }
      }
      .getintch {
        width: 100%;
        .wrapper {
          padding-bottom: 5rem;
          .inner {
            min-width: 30rem;
            margin: 0 3rem;
          }
        }
      }
      .social2 {
        display: flex;
      }
    }
  }
}

@media only screen and (max-width: 399px) {
  .maincontainer {
    .head {
      .navbar {
        .logo {
          h2 {
            top: 1rem;
            font-size: 2.5rem;
          }
        }
        .point {
          .hamburger {
            display: block;
            float: right;
            .bar {
              width: 2rem;
            }
            .bar:nth-child(2) {
              width: 3rem;
            }
          }
          .hamburger.active .bar:nth-child(2) {
            width: 0;
          }
          .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
          .navMenu {
            position: fixed;
            background: rgb(6, 19, 55);
            left: -100%;
            top: 6rem;
            gap: 0;
            flex-direction: column;
            width: 100%;
            text-align: center;
            transition: 0.5s;
            li {
              padding: 3rem 0;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid #00ffa690;
              animation: animate2 3s ease-in-out infinite;
              a:hover {
                border: none;
                color: #fff;
              }
            }
            li:nth-child(odd){
              background: rgba(6, 19, 55, 0.5);
            }
          }
          .navMenu.active {
            left: 0;
          }
        }
      }
    }
    .home {
      .icon {
        width: 0;
        display: none;
      }
      .details {
        width: 100%;
        h4 {
          left: 10%;
          top: 21rem;
          right: 10%;
          font-size: 1.8rem;
        }
        h2 {
          left: 10%;
          right: 10%;
          top: 23rem;
          font-size: 3rem;
        }
        h3 {
          top: 28rem;
          left: 10%;
          right: 10%;
          font-size: 2.8rem;
        }
        .para {
          left: 10%;
          right: 10%;
          top: 37rem;
          width: 28rem;
          p {
            font-size: 1.8rem;
            a{
              width:11.5rem;
            }
          }
        }
      }
      .mail {
        display: none;
        width: 0;
      }
    }
    .about {
      padding-top: 0rem;
      min-height: 130vh;
      h4 {
        left: 10%;
        right: 10%;
        font-size: 2rem;
        transform: translateY(-38rem);
      }
      h4::after {
        width: 15rem;
      }
      .detail {
        left: 10%;
        right: 10%;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 3rem;
        .abt {
          margin-left: 5rem;
          margin-bottom: 5.4rem;
          height: 30rem;
          width: 30rem;
          p {
            font-size: 1.5rem;
          }
        }
        .pic {
          height: 22rem;
          width: 22rem;
          margin: 4rem;
        }
      }
    }
    .skill {
      h4 {
        left: 10%;
        right: 10%;
        font-size: 2rem;
        transform: translateY(-85rem);
      }
      h4::after {
        width: 20rem;
      }
      .cardcontainer {
        margin-top: 15rem;
        grid-template-columns: auto;
        .card {
          height: 24rem;
          width: 19rem;
          .name {
            font-size: 2.5rem;
          }
        }
      }
    }
    .contact {
      display: block;
      h4 {
        left: 10%;
        right: 10%;
        transform: translateY(8rem);
        font-size: 2rem;
      }
      h4::after {
        width: 17rem;
      }
      .word {
        width: 100%;
        p {
          padding: 15rem 2rem 5rem 5rem;
          font-size: 1.5rem;
          span {
            font-size: 3rem;
          }
        }
      }
      .getintch {
        width: 100%;
        .wrapper {
          padding-bottom: 5rem;
          .inner {
            min-width: 30rem;
            margin: 0 3rem;
          }
        }
      }
      .social2 {
        display: flex;
        ul {
          li {
            padding: 1rem;
            a {
              i {
                font-size: 2rem;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    width: 0rem;
  }
  100% {
    width: 10rem;
  }
}
@keyframes animate2 {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
