.maincontainer .head {
  position: fixed;
  height: 5rem;
  width: 100%;
  background: transparent;
  z-index: 100;
}

.maincontainer .head header {
  position: fixed;
  background: #061337;
}

.maincontainer .head header h2 {
  font-size: 3rem;
  color: #fff;
  position: fixed;
  left: 2rem;
  top: 0.5rem;
}

.maincontainer .head header h2 span {
  color: #00ffae;
  -webkit-animation: animate2 10s ease-in-out infinite;
          animation: animate2 10s ease-in-out infinite;
}

.maincontainer .head header nav {
  right: 0;
  top: 1rem;
  height: 5rem;
  width: 35%;
  display: inline;
  background: transparent;
  position: fixed;
  z-index: 100;
}

.maincontainer .head header nav li {
  list-style: none;
  display: inline;
  padding-right: 4rem;
  right: 10rem;
}

.maincontainer .head header nav li a {
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

.maincontainer .head header nav li a:hover {
  border-bottom: 2px solid #00ffae;
  color: #d0ff00;
}

.maincontainer .head header nav a button {
  position: absolute;
  right: .1rem;
  padding: 0.5rem 2rem;
  border: none;
  border: 1px solid #00ffae;
  font-size: 2rem;
  color: #fff;
  font-weight: 450;
  margin: 0 3rem;
  margin-left: 5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  background: transparent;
  -webkit-animation: animate2 5s ease-in-out infinite;
          animation: animate2 5s ease-in-out infinite;
}

.maincontainer .head header nav a button:hover {
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.maincontainer .home {
  min-height: 100vh;
  width: 100%;
  background: #061337;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .home .icon {
  position: fixed;
  left: 0;
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maincontainer .home .icon .social {
  position: relative;
  top: 9rem;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maincontainer .home .icon .social .social::after {
  content: "";
}

.maincontainer .home .icon .social li {
  list-style: none;
  padding-bottom: 3.4rem;
}

.maincontainer .home .icon .social li a i {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.maincontainer .home .icon .social li a i:hover {
  color: #00ffae;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.15);
          box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.15);
}

.maincontainer .home .icon .line {
  position: absolute;
  bottom: 0rem;
  height: 11rem;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.maincontainer .home .details {
  width: 80%;
  height: 100%;
}

.maincontainer .home .details h4 {
  position: absolute;
  top: 23rem;
  left: 23%;
  font-size: 2rem;
  font-weight: 400;
  color: #00ffae;
}

.maincontainer .home .details h2 {
  position: absolute;
  top: 26rem;
  left: 23%;
  font-size: 7rem;
  font-weight: 600;
  color: #fff;
}

.maincontainer .home .details h3 {
  position: absolute;
  top: 34rem;
  left: 23%;
  font-size: 7rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

.maincontainer .home .details .para {
  position: absolute;
  top: 44rem;
  left: 23%;
  height: 30rem;
  width: 50rem;
}

.maincontainer .home .details .para p {
  font-size: 1.7rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

.maincontainer .home .details .para p span {
  color: #00ffae;
}

.maincontainer .home .details .para p span:hover::before {
  content: "";
  position: absolute;
  top: 6.7rem;
  left: 22rem;
  height: 1px;
  width: 0rem;
  background: #00ffae;
  -webkit-animation: animate 2s ease;
          animation: animate 2s ease;
}

.maincontainer .home .mail {
  position: fixed;
  right: 0;
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maincontainer .home .mail a {
  position: absolute;
  bottom: 26rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
}

.maincontainer .home .mail :hover {
  color: #00ffae;
}

.maincontainer .home .mail .line {
  position: absolute;
  bottom: 0rem;
  height: 11rem;
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.maincontainer .about {
  min-height: 100vh;
  width: 100%;
  background: #061337;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .about h4 {
  position: absolute;
  left: 35rem;
  -webkit-transform: translateY(-15rem);
          transform: translateY(-15rem);
  font-size: 3rem;
  letter-spacing: 2px;
  color: #fff;
}

.maincontainer .about h4::after {
  content: "";
  position: absolute;
  top: 2.2rem;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  height: 1px;
  width: 32rem;
  background: rgba(255, 255, 255, 0.3);
}

.maincontainer .about .detail {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .about .detail .abt {
  height: 20rem;
  width: 50rem;
  margin-right: 3.5rem;
}

.maincontainer .about .detail .abt p {
  font-size: 1.7rem;
  font-weight: 400;
  padding-bottom: 2rem;
  color: rgba(255, 255, 255, 0.4);
}

.maincontainer .about .detail .abt p span {
  color: #00ffae;
}

.maincontainer .about .detail .abt table {
  margin-left: 5rem;
}

.maincontainer .about .detail .abt table tr td {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem;
  padding-right: 5rem;
  color: rgba(255, 255, 255, 0.4);
}

.maincontainer .about .detail .abt table tr td i {
  font-size: 1rem;
  padding-right: 0.5rem;
  color: #00ffae;
}

.maincontainer .about .detail .pic {
  margin-top: 11rem;
  height: 30rem;
  width: 30rem;
  border: 1px solid #00ffae;
  border-radius: 0.5rem;
}

.maincontainer .about .detail .pic .ima {
  position: relative;
  height: 30rem;
  width: 30rem;
  border-radius: 0.5rem;
  background: #bbbbbb;
  overflow: hidden;
  cursor: pointer;
  -webkit-filter: sepia(1);
          filter: sepia(1);
  z-index: 1;
}

.maincontainer .about .detail .pic .ima:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

.maincontainer .skill {
  min-height: 100vh;
  width: 100%;
  background: #061337;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .skill h4 {
  position: absolute;
  left: 35rem;
  letter-spacing: 2px;
  -webkit-transform: translateY(-32rem);
          transform: translateY(-32rem);
  font-size: 3rem;
  color: #fff;
}

.maincontainer .skill h4::after {
  content: "";
  position: absolute;
  top: 2.2rem;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  height: 1px;
  width: 75rem;
  background: rgba(255, 255, 255, 0.3);
}

.maincontainer .skill .cardcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10rem;
}

.maincontainer .skill .cardcontainer .card {
  height: 28rem;
  width: 23rem;
  margin: 3rem;
  border-radius: 0rem;
  background: transparent;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.maincontainer .skill .cardcontainer .card .name {
  position: absolute;
  top: 2rem;
  left: 0;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 50px);
          transform: translate3d(0, 0, 50px);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 1;
  z-index: 10;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.maincontainer .skill .cardcontainer .card .skl {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 20rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 11;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(-50%, -50%, 60px);
          transform: translate3d(-50%, -50%, 60px);
}

.maincontainer .contact {
  min-height: 100vh;
  width: 100%;
  background: #061337;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .contact h4 {
  position: absolute;
  left: 35rem;
  letter-spacing: 2px;
  -webkit-transform: translateY(-28rem);
          transform: translateY(-28rem);
  font-size: 3rem;
  color: #fff;
}

.maincontainer .contact h4::after {
  content: "";
  position: absolute;
  top: 2.2rem;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  height: 1px;
  width: 75rem;
  background: rgba(255, 255, 255, 0.3);
}

.maincontainer .contact .word {
  width: 50%;
  top: 0;
}

.maincontainer .contact .word p {
  padding-left: 20rem;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.5);
}

.maincontainer .contact .word p span {
  font-size: 5rem;
  color: #fff;
}

.maincontainer .contact .getintch {
  width: 50%;
  height: 100%;
}

.maincontainer .contact .getintch .wrapper {
  height: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maincontainer .contact .getintch .wrapper .inner {
  padding: 2.5rem;
  background: transparent;
  -webkit-box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.5);
          box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.5);
  max-width: 80rem;
  margin: auto;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.maincontainer .contact .getintch .wrapper .inner form {
  width: 100%;
  padding-top: 4rem;
  padding-left: 0;
  padding-right: 3rem;
  display: -ms-grid;
  display: grid;
}

.maincontainer .contact .getintch .wrapper .inner form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maincontainer .contact .getintch .wrapper .inner form .form-group input {
  width: 100%;
  background-color: transparent;
  caret-color: #00dafc;
  color: #00dafc;
  letter-spacing: 2px;
  font-weight: 500;
}

.maincontainer .contact .getintch .wrapper .inner form .form-group .form-control {
  border: none;
  border-bottom: 1px solid #e71de7;
  display: block;
  width: 100%;
  height: 30px;
  padding-right: 0;
  margin-bottom: 25px;
}

.maincontainer .contact .getintch .wrapper .inner form .form-wrapper {
  position: relative;
}

.maincontainer .contact .getintch .wrapper .inner form .form-wrapper input {
  background-color: transparent;
  caret-color: #00dafc;
  color: #00dafc;
  letter-spacing: 2px;
  font-weight: 500;
}

.maincontainer .contact .getintch .wrapper .inner form .form-wrapper textarea {
  background-color: transparent;
  caret-color: #00dafc;
  color: #00dafc;
  letter-spacing: 2px;
  font-weight: 500;
  outline: none;
  border: none;
  max-width: 50rem;
}

.maincontainer .contact .getintch .wrapper .inner form .form-wrapper .form-control {
  border: none;
  border-bottom: 1px solid #e71de7;
  display: block;
  width: 100%;
  height: 30px;
  padding-right: 0;
  margin-bottom: 25px;
}

.maincontainer .contact .getintch .wrapper .inner form .buttdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.maincontainer .contact .getintch .wrapper .inner form .buttdiv button {
  font-family: inherit;
  font-size: 1.5rem;
  color: white;
  background: linear-gradient(45deg, #dff304, #00ffbf);
  -webkit-box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.9), inset -4px -4px 6px rgba(0, 0, 0, 0.7);
          box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.9), inset -4px -4px 6px rgba(0, 0, 0, 0.7);
  padding: .5rem 1.5rem;
  padding-left: 0.9em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 1.6rem 0;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.maincontainer .contact .getintch .wrapper .inner form .buttdiv button span {
  display: block;
  margin-left: 0.3em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.maincontainer .contact .getintch .wrapper .inner form .buttdiv button svg {
  display: block;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.maincontainer .contact .getintch .wrapper .inner form .buttdiv button:hover .svg-wrapper {
  -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
          animation: fly-1 0.6s ease-in-out infinite alternate;
}

.maincontainer .contact .getintch .wrapper .inner form .buttdiv button:hover svg {
  -webkit-transform: translateX(1.8rem) rotate(45deg) scale(1.1);
          transform: translateX(1.8rem) rotate(45deg) scale(1.1);
}

.maincontainer .contact .getintch .wrapper .inner form .buttdiv button:hover span {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.maincontainer .contact .getintch .wrapper .inner form .buttdiv button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.3rem);
            transform: translateY(0.3rem);
  }
  to {
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
  }
}

@keyframes fly-1 {
  from {
    -webkit-transform: translateY(0.3rem);
            transform: translateY(0.3rem);
  }
  to {
    -webkit-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
  }
}

.maincontainer .contact .getintch .form-group input:first-child {
  margin-right: 2.5rem;
}

.maincontainer .contact .getintch input[type=number]::-webkit-inner-spin-button,
.maincontainer .contact .getintch input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.maincontainer footer {
  background: #061337;
  text-align: center;
}

.maincontainer footer span {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

.maincontainer footer span a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}

@-webkit-keyframes animate {
  0% {
    width: 0rem;
  }
  100% {
    width: 10rem;
  }
}

@keyframes animate {
  0% {
    width: 0rem;
  }
  100% {
    width: 10rem;
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

input,
select {
  border: none;
  outline: none;
}

select {
  cursor: pointer;
}

a {
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

i {
  font-size: 1.8rem;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */